.hola{
    height: 600px;
    width: 100%;
    background-color: brown;
    display: flex;
    padding-left: 100px;
    padding-top: 100px;
}
.sobreMi{
    font-size: 30px;

}
.nombre{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}