main{
    height: 1000px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    color:#FF6399;
    font-family: 'Montserrat', sans-serif;

}
.saludo{
    height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}
.hola{
    height: 400px;
    width: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #FF6399;
    margin-left: 20px;
    margin-top: 30px;
    align-items: center;
}
h1{
    font-size: 60px;
    font-weight: 900;
}
.hi{
    font-size: 30px;
    font-weight: 800;
}
.wido{
    font-size: 16px;
}
.LoQueHago{
    margin-top: 40px;
    color: white;
    font-size: 20px;
}
.boton1{
    width: 150px;
    height: 30px;
    background-color:  #FF6399;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.img{
    width: 500px;
    height: 500px;
    margin-top:30px ;
}


