.saludo {
    background-color: white;
    display: flex;
    flex-direction: row;
    color: #FFDEC4;
}

.hi {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
    color: var(--dark-font-color);
}

.wido {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-font-color);
}

.LoQueHago {
    margin-top: 40px;
    font-size: 20px;
    text-decoration: none;
}

.loquehago {
    color: var(--primary-font-color);
}

.boton1 {
    width: 150px;
    height: 30px;
    background-color: var(--primary-background-color);
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.hola {
    height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
    padding-left: 100px;
    padding-top: 100px;
    /*color: #FF6399;*/
    flex-direction: column;
    margin-top: 40px;
}

.sobreMi {
    font-size: 30px;
    font-weight: bold;
}

.nombre {
    /*font-size: 50px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 60px;
    font-weight: 800;
    color: var(--primary-background-color);
}

nav a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.saludo img {
    padding-left: 80px;
    margin-right: 60px;
    margin-top: 80px;
}

@media only screen and (max-width: 400px) {
    .saludo {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .saludo .hola {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-right: 80px;
    }
    .saludo img {
        width: 300px;
        padding-left: 80px;
        margin-right: 60px;
        margin-top: 10px;
    }
    .hola .hi {
        text-align: center;
        align-items: center;
    }
}