.frase {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.frase i {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 80px;
}

.frase p {
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 800px;
    text-align: center;
    margin-bottom: 5px;
}

.frase h2 {
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    .frase p {
        font-size: 1rem;
        margin: 0 10px;
    }
    .frase h2 {
        margin: 20px 10px;
        text-align: center;
    }
}