.conocimientos {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
    height: 800px;
    width: 100%;
    background-color: rgb(99, 231, 203);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.conocimientos .container {
    height: 100px;
    width: 500px;
    background-color: rgb(99, 231, 203);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container .titulo {
    font-size: 45px;
    color: white;
    font-weight: 900;
}

.skills {
    height: 500px;
    width: 400px;
    text-align: center;
    align-items: center;
    color: rgb(8, 6, 6);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.contenedorcajas {
    width: 900px;
    height: 200px;
    background-color: rgb(99, 231, 203);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    box-sizing: border-box;
}

.contenedorcajas .cajita {
    padding: 10px 10px;
    border: 1px solid #dddfe5;
    background-color: whitesmoke;
    border-radius: 8px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cajita:hover {
    border: 1px solid blue;
    background-color: white;
}

.medidas {
    width: 150px;
    height: 150px;
    align-items: center;
    margin-right: 80px;
    flex-direction: row;
    margin-top: 10px;
    align-content: center;
}

.skilltitulo {
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    align-content: center;
    text-align: center;
}

.container .skills {
    font-size: 15px;
    font-weight: 700;
}