* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,900;1,700&display=swap');
a {
    text-decoration: none;
}


/*ACA VAN LAS FUENTES
TAMBIEN LOS MARGENES
TAMBIEN LAS FUENTES
TODO LO GENERAL*/