* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


/*ACA VAN LAS FUENTES
TAMBIEN LOS MARGENES
TAMBIEN LAS FUENTES
TODO LO GENERAL*/