:root {
    --primary-background-color: #f59634;
    --primary-background-color-dark: #f27d33;
    --secondary-background-color: #f8f8f8;
    --primary-font-color: #ffffff;
    --secondary-font-color: #f59634;
    --dark-font-color: #3a3a3a;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

@media only screen and (max-width: 400px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}


/*ACA VAN LAS FUENTES
TAMBIEN LOS MARGENES
TAMBIEN LAS FUENTES
TODO LO GENERAL*/